.banner-simple {
  text-align: center;
  min-height: 320px;
  background: center / cover;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    background: rgba( 255, 255, 255, .7);
  }

  @media (min-width: $screen-md) {
    min-height: 420px;
  }

  @media (min-width: $screen-xl) {
    min-height: 520px;
  }

  .title {
    font-size: 2.5rem;
  }

  .subtitle {
    font-size: 1.7rem;
  }
}